<ul class="nav justify-content-end">
  <li role="presentation" class="<%= active? root_path %> nav-item"><a href="<%= root_path %>">Home</a></li>
  <li role="presentation" class="
  <%= active? about_us_path %> nav-item"><a href="<%= about_us_path %>">About Us</a></li>
  <li role="presentation" class="
  <%= active? how_it_works_path %> nav-item"><a href="<%= how_it_works_path %>">How It Works</a></li>
  <li role="presentation" class="
  <%= active? new_estimate_path %> nav-item"><a href="<%= new_estimate_path %>">Request an Estimate</a></li>
  <li role="presentation" class="
  <%= active? contact_us_path %> nav-item"><a href="<%= contact_us_path %>">Contact Us</a></li>
</ul>